/* 선택자(selector)
div tag는 tag명 생략 가능.*/

* {
    box-sizing: border-box
}

#header-center {
    margin: 0 auto;
    width: 1130px;
}

#header-search a h1 {
    width: 223px;
    height: 57px;
    display: inline-block;
    background-image: url(./sp_image.png);
    background-position: 0px -158px;
    background-repeat: no-repeat;
    background-size: 200%;
    vertical-align: top;
    text-indent: 10%;
    overflow: hidden;
    vertical-align: middle;
}

#header-search>a {
    text-decoration: none;
}

/* #header-center h1 {
    자손 선택자
    꺾쇠 쓰기 귀찮으면 자손 선택자 씀
} */

/* #header-search>h2 {
    display: none;
} */

#header-search fieldset {
    vertical-align: middle;
    margin-top: 10px;
    margin-left: 20px;
    padding: 13px 15px 13px 15px;
    /* padding-left: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 0; */
    width: 478px;
    height: 54px;
    display: inline-block;
    border: 2px solid #19ce60;
    /* hex or rgb? */
}

#header-search fieldset input {
    border: none;
    padding: 0;
    outline: none;
    /* 오 이건 내가 F12로 직접 찾음 */
}

.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

#header-search fieldset button {
    width: 49px;
    height: 49px;
    border: none;
    padding: 0;
    background: #19ce60;
}

#search-image {
    display: inline-block;
    width: 22px;
    height: 22px;
    background-position: -418px -24px;
    background-size: 2000%;
    background-repeat: no-repeat;
    background-image: url(./sp_image.png);
    vertical-align: top;
}