/* 선택자(selector)
div tag는 tag명 생략 가능.*/

/* CSS 우선순위 : !important > inline style > id > class(다른 어트리뷰트) >  tag */

/* block format context */
* {
    box-sizing: border-box
}

html,
body {
    padding: 0%;
    margin: 0%;
    font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", helvetica, sans-serif;
}

.center-align {
    margin: 0 auto;
    width: 1130px;
}

header {
    height: 170px;
}

#header-top {
    float: right;
    color: #888;
    letter-spacing: -1px;
    /*letter-spacing : 글자 사이의 간격(자간)*/
    font-size: 11px;
    line-height: 22px;
}

#header-search {
    padding-top: 20px;
    clear: both;
}

#header-search a h1 {
    width: 223px;
    height: 57px;
    display: inline-block;
    background-image: url(./sp_image.png);
    background-position: 0px -158px;
    background-repeat: no-repeat;
    background-size: 200%;
    vertical-align: top;
    text-indent: 10%;
    overflow: hidden;
    vertical-align: middle;
    position: relative;
    top: -6px;
}

#header-search>a {
    text-decoration: none;
}

/* #header-center h1 {
    자손 선택자
    꺾쇠 쓰기 귀찮으면 자손 선택자 씀
} */

/* #header-search>h2 {
    display: none;
} */

#header-search fieldset {
    vertical-align: middle;
    margin-left: 20px;
    padding: 13px 15px 13px 15px;
    /* padding-left: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 0; */
    width: 478px;
    height: 54px;
    display: inline-block;
    border: 2px solid #19ce60;
    /* hex or rgb? */
    position: relative;
}

#header-search fieldset input {
    width: 360px;
    height: 23px;
    display: inline-block;
    border: none;
    padding: 0;
    outline: none;
    /* 오 이건 내가 F12로 직접 찾음 */
}

.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

#header-search fieldset button {
    width: 54px;
    height: 54px;
    border: none;
    padding: 0;
    background: #19ce60;
    position: absolute;
    right: -2px;
    top: -2px;
}

#search-image {
    display: inline-block;
    width: 22px;
    height: 22px;
    background-position: -418px -24px;
    background-size: 2000%;
    background-repeat: no-repeat;
    background-image: url(./sp_image.png);
    vertical-align: top;
}

nav {
    height: 46px;
    border-top: 1px solid #f1f3f6;
    border-bottom: 1px solid #d1d8e4;
}

nav ul {
    margin: 0;
    padding: 11px 0px 0px 0px;
    list-style: none;
    font-size: 12px;
}

.nav_green {
    text-decoration: none;
    margin-left: 4px;
    color: #19ce60;
    font-weight: 600;
}

.nav {
    text-decoration: none;
    margin-left: 4px;
    font-weight: 600;
}

.nav_mail {
    text-decoration: none;
    margin-left: 0px;
}

.nav_more {
    position: relative;
    left: 6px;
    font-size: 10px;
    font-weight: 500;
    line-height: 22px;
    color: #202020;
}

nav li {
    display: inline-block;
}

#fixed {
    position: fixed;
    top: 50px;
    left: 50px;
    display: inline-block;
    width: 100px;
    height: 100px;
}